@font-face {
  font-family: 'MyriadPro';
  src: url(/../fonts/MyriadPro-Regular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url(/../fonts/MyriadPro-Bold.otf) format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url(/../fonts/MyriadPro-It.otf) format('otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url(/../fonts/MyriadPro-BoldIt.otf) format('otf');
  font-weight: bold;
  font-style: italic;
}
