* {
  margin: 0;
  padding: 0;
}

.content {
  width: 1100px;
  margin: 0 auto;
}

header{
  text-align: center;
  height: 100px;
}

nav {
  width: 100%;
  overflow: hidden;
  background: #333;

  ul {
    width: 100%;
    overflow: hidden;
    margin: 0;

    li {
      float: left;
      list-style: none;
      padding: 5px 14px;
      cursor: pointer;

      &.active {
        background: #454545;
      }

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        background: #545454;
      }
    }
  }
}

footer {
  text-align: center;
  height: 100px;
  border-top: 1px solid #ccc;
}
